<div class="accordion" id="accordionColor">
  <div class="accordion-item">
    <h2 class="accordion-header" id="colorHead">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseColor"
        aria-expanded="true"
        aria-controls="collapseColor"
      >
        RENKLER
      </button>
    </h2>
    <div
      id="collapseColor"
      class="accordion-collapse collapse show"
      aria-labelledby="colorHead"
      data-bs-parent="#accordionColor"
    >
      <div class="accordion-body">
        <div
          *ngIf="dataLoaded == false"
          class="spinner-border text-primary"
          role="status"
        >
          <span class="visually-hidden">Yükleniyor...</span>
        </div>



        <ul *ngIf="dataLoaded == true" class="list-group">
          
          <li
            *ngFor="let color of colors"
            [class]="getCurrentColorClass(color)"
            (click)="setCurrentColor(color)"
            routerLink="cars/color/{{ color.id }}"
          >
            {{ color.colorName }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
