<div class="accordion" id="brandAccordion">
  <div class="accordion-item">
    <h2 class="accordion-header" id="brandHead">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#Brandcollapse"
        aria-expanded="true"
        aria-controls="Brandcollapse"
      >
        MARKALAR
      </button>
    </h2>
    <div
      id="Brandcollapse"
      class="accordion-collapse collapse show"
      aria-labelledby="brandHead"
      data-bs-parent="#brandAccordion"
    >
      <div class="accordion-body">
        <div class="accordion-body">
          <div
            *ngIf="dataLoaded == false"
            class="spinner-border text-primary"
            role="status"
          >
            <span class="visually-hidden">Yükleniyor...</span>
          </div>

          <ul *ngIf="dataLoaded == true" class="list-group">
            <li
              [class]="getCurrentBrandClass(brand)"
              *ngFor="let brand of brands"
              (click)="setCurrentBrand(brand)"
              routerLink="cars/brand/{{ brand.id }}"
            >
              {{ brand.brandName }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
