<div>
  <div class="col-md-7 col-lg-8">
    <h4 class="mb-3">Kayıt Ol</h4>
    <form class="needs-validation" novalidate>
      <div class="row g-3">
        <div class="col-sm-6">
          <label for="firstName" class="form-label">Ad </label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            placeholder=""
            value=""
         
          />
     
        </div>

        <div class="col-sm-6">
          <label for="lastName" class="form-label">Soyadı</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            placeholder=""
            value=""
            required
          />
  
        </div>

        <div class="col-12">
          <label for="email" class="form-label"
            >Email </label
          >
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="siz@eposta.com"
          />
    
        </div>
      </div>
    

      <hr class="my-4" />

      <button class="w-100 btn btn-primary btn-xs">Kayıt Ol</button>
    </form>
  </div>
</div>
