<div class="accordion-body">
  <div
    *ngIf="dataLoaded == false"
    class="spinner-border text-primary"
    role="status"
  >
    <span class="visually-hidden">Yükleniyor...</span>
  </div>

  <table *ngIf="dataLoaded == true" class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">ADI</th>
        <th scope="col">MARKA</th>
        <th scope="col">RENK</th>
        <th scope="col">GÜNLÜK FİYAT</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let carDetail of carDetails">
        <td scope="row">{{ carDetail.id }}</td>
        <td scope="row">{{ carDetail.description }}</td>
        <td scope="row">{{ carDetail.brandName }}</td>
        <td scope="row">{{ carDetail.colorName }}</td>
        <td scope="row">{{ carDetail.dailyPrice }}</td>
      </tr>
    </tbody>
  </table>
  
  <app-car-image></app-car-image>
</div>

