<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Yükleniyor...</span>
</div>

<div class="container" *ngIf="dataLoaded == true">
  <div class="row">
    <div class="col-md-8"><app-car-image></app-car-image></div>

    <div class="col-md-4">
      <div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let carDetail of carDetails">
            Marka: {{ carDetail.brandName | uppercase }}
          </li>
          <li class="list-group-item" *ngFor="let carDetail of carDetails">
            Renk: {{ carDetail.colorName }}
          </li>
          <li class="list-group-item" *ngFor="let carDetail of carDetails">
            Model Yılı: {{ carDetail.modelYear }}
          </li>
          <li class="list-group-item" *ngFor="let carDetail of carDetails">
            Günlük fiyat:
            {{ carDetail.dailyPrice | currency: "TRY":"symbol-narrow":"1.2-2" }}
          </li>
          <li class="list-group-item" *ngFor="let carDetail of carDetails">
            Findeks puanı: {{ carDetail.findeksScore }}
          </li>

          <li class="list-group-item" *ngFor="let carDetail of carDetails">
            Açıklama: {{ carDetail.description }}
          </li>
        </ul>
        <section style="float: right">
          <app-rental-car></app-rental-car>

          <button
            *ngFor="let carDetail of carDetails"
            style="
              width: 120px;
              margin-right: 10px;
              margin-top: 21px;
              width: 120px;
            "
            class="btn btn-outline-success"
            type="button"
            routerLink="edit/{{ carDetail.id }}"
          >
            Düzenle
          </button>
        </section>
      </div>
    </div>
  </div>
</div>
