<main>
  <div class="mt-md-3"></div>
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://autogaleria.pl/content/uploads/2017/05/2017_BMW_M2_CS_render_4.jpg"
        />

        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Uygun Fiyatlar.</h1>
            <p>
              Son model arabaları en iyi fiyat garantisiyle hizmetinize
              sunuyoruz.
            </p>
            <p>
              <a class="btn btn-lg btn-primary" routerLink="/dashboard/cars"
                >Arabalara Gözat</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="https://autogaleria.pl/content/uploads/2021/03/lexus-lf-z-electrified-concept-06.jpg"
        />

        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Kurumsal Organizasyon</h1>
            <p>Kaliteli hizmet anlayışı</p>
            <p>
              <a class="btn btn-lg btn-secondary" routerLink="/dashboard/cars"
                >En Yeni Arabalar</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="https://autogaleria.pl/content/uploads/2019/03/2019-lamborghini-aventador-svj-roadster.jpg"
        />

        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Doğru adres</h1>
            <p>Hemen üyelik açarak son model lüx araçlara sahip ol</p>
            <p>
              <a class="btn btn-lg btn-warning" routerLink="/dashboard/cars"
                >Daha Fazla Bilgi</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="container marketing">
    <div class="row">
      <div class="col-lg-4">
        <div class="d-flex justify-content-center">
          <div class="dairesel">
            <img
              src="https://www.rvcj.com/wp-content/uploads/2016/07/happy-customer-png-5.jpg"
              alt="resim"
            />
          </div>
        </div>

        <h2>Kesinlikle Harika</h2>
        <p>
          Oto kiralama hizmetinde Türkiye de kaliteli bakımlı ve sorunsuz
          araçları ile her zaman ilk ve tek tercihim olmuştur. Sizlerde sorun
          yaşamadan keyifle bir tatil geçirmek istiyorsanız ilk tercihiniz
          tabiki de burası olmalıdır.
        </p>
        <p><span class="text-muted">Burcu L.</span></p>
      </div>

      <div class="col-lg-4">
        <div class="d-flex justify-content-center">
          <div class="dairesel">
            <img
              src="https://ak.picdn.net/shutterstock/videos/4264262/thumb/7.jpg"
              alt="resim"
            />
          </div>
        </div>

        <h2>Muhteşem</h2>
        <p>
          Vip transfer ve taşımacılık işinde müşteri odaklı çalışmaları ve oto
          kiralama da gelinen son nokta olan Türkiye de bu işi hakkı ile yapan
          sayılı nadir firmalardan. Herkese tavsiye ederim.
        </p>
        <p><span class="text-muted">Buket F.</span></p>
      </div>

      <div class="col-lg-4">
        <div class="d-flex justify-content-center">
          <div class="dairesel">
            <img
              src="https://us.123rf.com/450wm/piksel/piksel1502/piksel150200060/36495736-woman-showing-thumbs-up.jpg?ver=6"
              alt="resim"
            />
          </div>
        </div>

        <h2>Pişman Olmazsınız</h2>
        <p>
          Türkiye de oto kiralama hizmetinde kaliteli bakımlı ve sorunsuz
          araçları ile her zaman ilk ve tek tercihim olmuştur. Sizlerde sorun
          yaşamadan keyifle bir tatil geçirmek istiyorsanız ilk tercihiniz
          olmalıdır.
        </p>
        <p><span class="text-muted">Kibriye L.</span></p>
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-5">
        <h2 class="featurette-heading">
          Yeni
          <span class="text-muted">Toyota Supra</span>
        </h2>
        <p class="lead">
          Hemen kiralayarak, son model araca sahip olabilirsiniz.
        </p>
      </div>
      <div class="col-md-7">
        <img
          src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/2020-toyota-supra-lead-1546969133.jpg"
          width="750"
          height="400"
        />
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-5 order-md-2">
        <h2 class="featurette-heading">
          Yeni
          <span class="text-muted">Porsche Taycan</span>
        </h2>
        <p class="lead">
          Hemen kiralayarak, son model araca sahip olabilirsiniz.
        </p>
      </div>
      <div class="col-md-7 order-md-1">
        <img
          src="https://icdn.ensonhaber.com/resimler/diger/kok/2020/10/29/porsche-taycan_4229.jpg"
          width="750"
          height="400"
        />
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-5">
        <h2 class="featurette-heading">
          Yeni <span class="text-muted">Model S</span>
        </h2>
        <p class="lead">
          Hemen kiralayarak, son model araca sahip olabilirsiniz.
        </p>
      </div>
      <div class="col-md-7">
        <img
          src="https://pictures.topspeed.com/IMG/crop_webp/201808/next-gen-tesla-model-7_1600x0.webp"
          width="750"
          height="400"
        />
      </div>
    </div>

    <hr class="featurette-divider" />
  </div>

  <footer class="container">
    <div class="d-flex justify-content-center">
      <p>&copy; 2021 Rent a Car Company, Inc.</p>
    </div>
  </footer>
</main>


