<app-registered-credit-card
  (cardSend)="getRegisteredComponentCurrentCardOutPut($event)"
></app-registered-credit-card>

<div class="divider py-1"><hr /></div>

<div class="row">
  <div class="col-md-6">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-6">
            <strong class="text-dark"> Marka: </strong>
          </div>
          <div class="col-md-6">{{ carDetails.brandName | uppercase }}</div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-6">
            <strong class="text-dark"> Renk: </strong>
          </div>
          <div class="col-md-6">{{ carDetails.colorName | uppercase }}</div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="row">
          <div class="col-md-6">
            <strong class="text-dark"> Model Yılı: </strong>
          </div>
          <div class="col-md-6">{{ carDetails.modelYear }}</div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-6">
            <strong class="text-dark"> Günlük fiyat: </strong>
          </div>
          <div class="col-md-6">
            {{
              carDetails.dailyPrice | currency: "TRY":"symbol-narrow":"1.2-2"
            }}
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-6">
            <strong class="text-dark"> Toplam Fiyat: </strong>
          </div>
          <div class="col-md-6">
            <strong class="text-danger">
              {{ amountOfPayment | currency: "₺" }}
            </strong>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="row">
          <div class="col-md-6">
            <strong class="text-dark"> Başlangıç: </strong>
          </div>
          <div class="col-md-6">
            {{ rental.rentDate }}
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="row">
          <div class="col-md-6">
            <strong class="text-dark"> Bitiş: </strong>
          </div>
          <div class="col-md-6">
            {{ rental.returnDate }}
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header text-center">
        <strong>Ödeme İşlemlemi</strong>
      </div>
      <div class="card-body">
        <form [formGroup]="paymentForm">
          <div class="mb-3">
            <label for="nameOnTheCard">Kartın Üzerindeki Ad Soyad</label>
            <div class="form-group">
              <input
                type="text"
                id="nameOnTheCard"
                formControlName="nameOnTheCard"
                class="form-control"
              />
            </div>
          </div>

          <div class="mb-3">
            <label for="number">Kart Numarası</label>
            <div class="form-group">
              <input
                type="text"
                id="number"
                formControlName="number"
                class="form-control"
              />
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="mb-3">
                <label for="expirationDate">Kart Geçerlilik Süresi</label>
                <div class="form-group">
                  <input
                    type="text"
                    id="expirationDate"
                    formControlName="expirationDate"
                    class="form-control"
                  />
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="mb-3">
                <label for="cvv">Cvv</label>
                <div class="form-group">
                  <input
                    type="text"
                    id="cvv"
                    formControlName="cvv"
                    class="form-control"
                  />
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="mb-3">
                <label for="registeredCard"></label>
                <div class="form-group">
                  <div class="form-check">
                    <input
                      (click)="registeredCard($event)"
                      type="checkbox"
                      class="form-check-input"
                      id="registeredCard"
                    />
                    <label class="form-check-label" for="registeredCard"
                      >Kartı Kaydet</label
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="card-footer">
        <div class="row">
          <button (click)="rentACar()" class="btn btn-outline-success">
            <strong>{{ amountOfPayment | currency: "₺" }} </strong>Ödeme Yap
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
