

<app-registered-credit-card
  (cardSend)="getRegisteredComponentCurrentCardOutPut($event)"
></app-registered-credit-card>



<div class="card mt-4">
  <div class="card-header text-center">
    <strong>İşlem Özeti</strong>
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>Başlangıç</th>
          <th>Bitiş</th>
          <th>Marka</th>
          <th>Renk</th>
          <th>Model Yılı</th>
          <th>Günlük</th>
          <th>Toplam</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ rental.rentDate }}</td>
          <td>{{ rental.returnDate }}</td>
          <td>{{ carDetails.brandName }}</td>
          <td>{{ carDetails.colorName }}</td>
          <td>{{ carDetails.modelYear }}</td>
          <td>{{ carDetails.dailyPrice | currency: "₺" }}</td>
          <td>
            <strong class="text-danger">{{
              amountOfPayment | currency: "₺"
            }}</strong>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="divider py-1"><hr /></div>



<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header text-center">
        <strong>Ödeme İşlemlemi</strong>
      </div>
      <div class="card-body">
        <form [formGroup]="paymentForm">
          <div class="mb-3">
            <label for="nameOnTheCard">Kartın Üzerindeki Ad Soyad</label>
            <div class="form-group">
              <input
                type="text"
                id="nameOnTheCard"
                formControlName="nameOnTheCard"
                class="form-control"
              />
            </div>
          </div>

          <div class="mb-3">
            <label for="number">Kart Numarası</label>
            <div class="form-group">
              <input
                type="text"
                id="number"
                formControlName="number"
                class="form-control"
              />
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="expirationDate">Kart Geçerlilik Süresi</label>
                <div class="form-group">
                  <input
                    type="text"
                    id="expirationDate"
                    formControlName="expirationDate"
                    class="form-control"
                  />
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="mb-3">
                <label for="cvv">Cvv</label>
                <div class="form-group">
                  <input
                    type="text"
                    id="cvv"
                    formControlName="cvv"
                    class="form-control"
                  />
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="card-footer">
        <div class="row">
          <button (click)="rentACar()" class="btn btn-outline-success">
            <strong>{{ amountOfPayment | currency: "₺" }} </strong>Ödeme Yap
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
