<!-- Button trigger modal -->

<div class="d-grid gap-2">
  <button
  
    type="button"
    style="width: 120px; margin-right: 10px; margin-top: 21px; width: 120px"
    class="btn btn-outline-secondary"
    data-bs-toggle="modal"
    data-bs-target="#rentalCarModal"
  >
    Kirala
  </button>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="rentalCarModal"
  tabindex="-1"
  aria-labelledby="rentalCarModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="rentalCarModalLabel">
          {{ carDetail.brandName }} - {{ carDetail.colorName }} | Aracı Kirala
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="form-group row mb-2">
          <label for="example-date-input" class="col-4 col-form-label"
            >Günlük</label
          >
          <div class="col-8">
            <input
              type="text"
              disabled="disabled"
              class="form-control"
              [value]="carDetail.dailyPrice | currency: '₺'"
            />
          </div>
        </div>
        <div class="form-group row mb-2">
          <label for="example-date-input" class="col-4 col-form-label"
            >Müşteri</label
          >
          <div class="col-8">
            <select class="form-select" [(ngModel)]="customerId">
              <option
                [ngValue]="customerDetail.id"
                *ngFor="let customerDetail of customerDetails"
              >
                {{ customerDetail.firstName }} {{ customerDetail.lastName }} |
                {{ customerDetail.companyName }}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group row mb-2">
          <label for="example-date-input" class="col-4 col-form-label"
            >Başlangıç</label
          >
          <div class="col-8">
            <input
              (change)="startDateEvent($event)"
              min="{{ getStartDateToMinDate() }}"
              [(ngModel)]="rentDate"
              type="date"
              class="form-control"
              id="rent-date"
              placeholder="Bir gün seçiniz."
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="example-date-input" class="col-4 col-form-label"
            >Bitiş</label
          >
          <div class="col-8">
            <input
              disabled="{{ !firstDateSelected }}"
              min="{{ getReturnMinDate() }}"
              max="{{ getReturnMaxDate() }}"
              [(ngModel)]="returnDate"
              type="date"
              class="form-control"
              id="return-date"
              placeholder="Bir gün seçiniz."
            />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Kapat
        </button>
        <button
          data-bs-dismiss="modal"
          (click)="createRental()"
          type="button"
          class="btn btn-primary"
        >
          Kirala
        </button>
      </div>
    </div>
  </div>
</div>
