<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Yükleniyor...</span>
</div>

<table *ngIf="dataLoaded == true" class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">ADI</th>
      <th scope="col">SOYADI</th>
      <th scope="col">ŞİRKET</th>
      <th scope="col">EMAİL</th>
      <th scope="col">MARKA</th>
      <th scope="col">RENK</th>
      <th scope="col">YIL</th>
      <th scope="col">FİYAT</th>
      <th scope="col">AÇIKLAMA</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rentalDetail of rentalDetails">
      <td scope="row">{{ rentalDetail.id }}</td>
      <td scope="row">{{ rentalDetail.firstName }}</td>
      <td scope="row">{{ rentalDetail.lastName }}</td>
      <td scope="row">{{ rentalDetail.companyName }}</td>
      <td scope="row">{{ rentalDetail.email }}</td>
      <td scope="row">{{ rentalDetail.brandName }}</td>
      <td scope="row">{{ rentalDetail.colorName }}</td>
      <td scope="row">{{ rentalDetail.modelYear }}</td>
      <td scope="row">{{ rentalDetail.companyName }}</td>
      <td scope="row">{{ rentalDetail.dailyPrice }}</td>
    </tr>
  </tbody>
</table>
