<div class="row">
  <div class="col-sm-6">
    <div class="card border-info mb-3" style="max-width: 18rem">
      <div class="card-header">MARKA</div>
      <h5 class="card-title"></h5>
      <div class="card-body">
        <select class="form-select" size="5">
          <option
            *ngFor="let brand of brands"
            (click)="getSelectedBrand(brand.id)"
          >
            {{ brand.brandName }}
          </option>
        </select>
      </div>

      <div class="card-footer">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#brandModal"
        >
          Güncelle
        </button>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="col-md-4"></div>
      <div class="card border-info mb-3" style="max-width: 18rem">
        <div class="card-header">Renk</div>
        <h5 class="card-title"></h5>
        <div class="card-body">
          <select class="form-select" size="5">
            <option
              *ngFor="let color of colors"
              (click)="getSelectedColor(color.id)"
            >
              {{ color.colorName }}
            </option>
          </select>
        </div>

        <div class="card-footer">
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#colorModal"
          >
            Güncelle
          </button>
        </div>
      </div>
   
  </div>
</div>

<!-- Brand Modal -->
<div
  class="modal fade"
  id="brandModal"
  tabindex="-1"
  aria-labelledby="brandModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="brandModalLabel">Marka</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <app-brand-crud [brands]="currentBrand"></app-brand-crud>
      </div>
    </div>
  </div>
</div>
<!-- Brand Modal -->

<!--Color Modal -->
<div
  class="modal fade"
  id="colorModal"
  tabindex="-1"
  aria-labelledby="colorModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="colorModalLabel">Renk</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <app-color-crud [colors]="currentColor"></app-color-crud>
      </div>
    </div>
  </div>
</div>
<!--Color Modal -->

<!--Car Modal -->
<div
  class="modal fade"
  id="carModal"
  tabindex="-1"
  aria-labelledby="carModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="carModalLabel">Araba</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <app-car-crud [inputToCurrentCarId]="currentCarId"></app-car-crud>
      </div>
    </div>
  </div>
</div>
<!--Car Modal -->

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Marka</th>
        <th>Renk</th>
        <th>Model</th>
        <th>Günlük Fiyat</th>
        <th>Açıklama</th>
        <th>
          <button routerLink="add" type="button" class="btn btn-outline-dark">
            + Ekle
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let carDetail of carDetails">
        <td>{{ carDetail.id }}</td>
        <td>{{ carDetail.brandName }}</td>
        <td>{{ carDetail.colorName }}</td>
        <td>{{ carDetail.modelYear }}</td>
        <td>{{ carDetail.dailyPrice }}</td>
        <td>{{ carDetail.description }}</td>
        <td>
          <button
            data-bs-toggle="modal"
            data-bs-target="#carModal"
            (click)="getSelectedCar(carDetail.id)"
            type="button"
            class="btn btn-outline-info mx-2"
          >
            Güncelle
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
