<div class="accordion-body">
  <div
    *ngIf="dataLoaded == false"
    class="spinner-border text-primary"
    role="status"
  >
    <span class="visually-hidden">Yükleniyor...</span>
  </div>

  <div class="mb-3">
    <label for="filterText" class="form-label">Araba Ara</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="filterText"
      id="filterText"
      placeholder="Arama ifadesi giriniz"
    />
  </div>

  <div *ngIf="filterText" class="alert alert-success">
    {{ filterText }} aradınız
  </div>

  <app-car-filter></app-car-filter>
  

  <table *ngIf="dataLoaded == true" class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">ADI</th>
        <th scope="col">MARKA</th>
        <th scope="col">RENK</th>
        <th scope="col">GÜNLÜK FİYAT</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let car of cars | filterPipe: filterText"
        routerLink="/cars/carDetail/{{ car.id }}"
      >
        <td scope="row">{{ car.id }}</td>
        <td scope="row">{{ car.description | uppercase }}</td>
        <td scope="row">{{ car.brandName }}</td>
        <td scope="row">{{ car.colorName }}</td>
        <td scope="row">{{ car.dailyPrice }}</td>
      </tr>
    </tbody>
  </table>
</div>
