<div class="accordion-body">
  <div
    *ngIf="dataLoaded == false"
    class="spinner-border text-primary"
    role="status"
  >
    <span class="visually-hidden">Yükleniyor...</span>
  </div>

  <div class="mb-3">
    <label for="filterText" class="form-label">Araba Ara</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="filterText"
      id="filterText"
      placeholder="Arama ifadesi giriniz"
    />
  </div>

  <div *ngIf="filterText" class="alert alert-success">
    {{ filterText }} aradınız
  </div>


  <div class="row" *ngIf="dataLoaded == true">
    <div class="card" *ngFor="let carDetail of carDetails | filterPipe:filterText" style="width: 18rem">
      <img
        [src]="imageIsNullCheck(carDetail.imagePath)"
        style="height: 150px"
        routerLink="/cars/carDetail/{{ carDetail.id }}"
        class="img-fluid img-thumbnail"
      />
      <div class="card-body">
        <h5 class="card-title">{{ carDetail.description }}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Marka: {{ carDetail.brandName }}</li>
        <li class="list-group-item">Model: {{ carDetail.modelYear }}</li>
        <li class="list-group-item">
          Günlük Fiyat:
          {{ carDetail.dailyPrice | currency: "TRY":"symbol-narrow":"1.2-2" }}
        </li>
      </ul>
      <div class="card-body">
        <section style="float: left">
          <button
            type="button"
            class="btn btn-secondary"
            routerLink="/cars/carDetail/{{ carDetail.id }}"
          >
            İncele
          </button>
        </section>

        <section style="float: right">
          <button type="button" class="btn btn-success">Kirala</button>
        </section>
      </div>
    </div>
  </div>
</div>
